<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>PDF 업로드</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  
</head>
<style>
  .btn {
    background-color: #4e4f58;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #6a6b75;
  }
</style>

<body>

<form method = "POST" onsubmit = "refreshIndex()">
  <ul>
    {% for item in db %}
      <li>
        <label>
          <input type="checkbox" name="selected_items" value="{{ item }}" {% if item in selected_db %}checked{% endif %}>
          {{ item }}
        </label>
      </li>
    {% endfor %}
  </ul>
  <button type="submit" class="btn">제출</button>
</form>

<script>
  function refreshIndex() {
    if (window.opener) {
      window.opener.location.reload();  // 기존 index 창 새로고침
    }
  }
</script>

</body>
</html>